/* ALL COMPONENTS */
body {
  margin: 0;
  background-color: rgb(230,230,230);
}

a {
  color: rgb(250,250,250);
  text-decoration: none;
}

.hidden {
  display: none;
}

/* NAVBAR */
.navbar {
  background-color: rgb(171, 130, 238);
}

.main-body {
  margin-top: 0.5rem;
}

/* SEARCH PAGE */
.search-area {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.search-results {
  padding: 0.5rem;
  padding-bottom: 1rem;
  min-height: 3rem;
  margin-bottom: 1rem;
}

.book-card .MuiTypography-root{
  padding: 0 0.5rem;
  padding-top: 0.5rem;
}

.book-card img {
  padding: 0 0.5rem;
  height: 200px;
}

/* SAVED PAGE */
.saved-area {
  padding: 0.5rem;
  margin-bottom: 1rem;
}